@use './_var.sass' as *

*,
*::after,
*::before
    box-sizing: border-box

body,
h1,
h2,
h3,
h4,
p,
img
    margin: 0

html:focus-within
    scroll-behavior: auto

body
    min-height: 100vh
    font-family: 'Epilogue', sans-serif
    font-weight: $fw-400
    font-size: $fs-400 
    line-height: calc(26 / 16)
    text-rendering: optimizeSpeed

button
    font: inherit
    outline: none
    border: none

a:not([class])
    text-decoration-skip-ink: auto

img
    max-width: 100%
    display: block

@font-face
    font-family: 'Epilogue'
    src: url('../assets/fonts/Epilogue-Regular.woff2') format('woff2'), url('../assets/fonts/Epilogue-Regular.woff') format('woff'), url('../assets/fonts/Epilogue-Regular.ttf') format('truetype')
    font-weight: normal
    font-style: normal
    font-display: swap

@media (prefers-reduced-motion: reduce)
    html:focus-within
        scroll-behavior: auto
    
    *,
    *::before,
    *::after
        animation-duration: 0.01ms !important
        animation-iteration-count: 1 !important
        transition-duration: 0.01ms !important
        scroll-behavior: auto !important
